<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .search-bar {
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="search-bar">
        <form th:action="@{/search}" method="GET">
            <label for="ratings">Search by Rating:</label>
            <input type="number" id="ratings" name="ratings" value="example 4.0">
            
            <label for="format">Search by Format:</label>
            <input type="text" id="format" name="format">

            <button type="submit">Search</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Format</th>
                <th>Rating</th>
            </tr>
        </thead>
    <tbody th:each="book, iterStat : ${BookList}">
        <!--Using thymeleaf to iterate first 20 results , this is easier no need make service.-->
        <tr th:if="${iterStat.index < 20}">
            <!--changeble book id and u can click it as a link*-->
            <td><a th:href="@{'/book/'+${book.book_id}}"><span th:text="${book.book_id}"></span></a></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.authors}"></td>
            <td th:text="${book.format}"></td>
            <td th:text="${book.rating}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
